@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --un-navy: #002B49;
  --un-blue: #009EDB;
  --un-blue-light: #4DA6C8;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-slate-950 antialiased;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-un-blue rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-un-navy;
}

h1, h2, h3, h4, h5, h6 {
  @apply tracking-tight;
}
